<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container-fluid text-center">
	<h2 class="display-4">P치gina no encontrada</h2>
	<img class="img-fluid my-3" src="https://i.pinimg.com/564x/fd/26/78/fd2678b89102df618557e24c9a00e350.jpg" alt="Meme no puede ser">
	<p>La p치gina est치 presentando amsiedad, vuelve a intentarlo m치s tarde</p>
</div>

<%- include('includes/footer.ejs') %>