<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<h1>Bienvenido a la guarderia de perros</h1>
<h3>Las rutas son:</h3>
<p>
    <ul>
        <li>/home</li>
        <li>/perros</li>
        <li>/perros/nuevo-perro</li>
        <li>/guarderia</li>
        <li>/guarderia/precios</li>
    </ul>
</p>

<%- include('includes/footer.ejs') %>