<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<h1>Perros en guarderia</h1>
<ul>
    <% perros.forEach(perro => { %>
    <li> <%= perro %> </li>
    <% }); %>
</ul>

<%- include('includes/footer.ejs') %>