<%- include('includes/head.ejs') %>

Precios Guarderia</title>
</head>
<body>
    <h1>Precios</h1>
    <ul>
        <li><strong>Por noche:</strong> $200</li>
        <li><strong>Baño:</strong> $150</li>
        <li><strong>Peluqueria:</strong> $225</li>
        <li><strong>Pool party:</strong> $50 la entrada</li>
    </ul>
</body>