<%- include('includes/head.ejs') %>

Nuevo Perro</title>
</head>
<body>
    <h1>Añadir perro</h1>
    <form action="nuevo-perro" method="POST">
        <input type="text" name="nombre">
        <input type="submit" value="Registrar perro en guarderia">
    </form>
</body>