<%- include('includes/head.ejs') %>

Pregunta</title>
</head>
<body>
    <h1>Pregunta</h1>
    <h4>¿Qué otros templating engines existen para node?</h4>
    <p>Existen varios templating engines para node, entre ellos, podemos encontrar los siguientes:</p>
    <ul>
        <li>EJS</li>
        <li>Pug</li>
        <li>Nunjucks</li>
        <li>whiskers</li>
        <li>React</li>
        <li>Webfiller</li>
        <li>Squirrelly</li>
        <li>Haml-Coffee</li>
        <li>marko</li>
        <li>Exbars</li>
        <li>swig</li>
    </ul>
    <h3>Referencias</h3>
    <p>Template Engines. (2017). Expressjs.com. <a href="https://expressjs.com/en/resources/template-engines.html">https://expressjs.com/en/resources/template-engines.html</a></p>
</body>