<%- include('includes/navbar.ejs') %>
<%- include('includes/head.ejs') %>

<h1>Añadir perro</h1>
<form action="nuevo-perro" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <input type="text" name="nombre_perro">
    <input type="text" name="imagen_perro">
    <input type="submit" value="Registrar perro en guarderia">
</form>

<%- include('includes/footer.ejs') %>