<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<body>
    <h1>Guarderia Owa Owa</h1>
    <p>Somos una guarderia para perros fundada en el 2015.</p>
    <p>Somos reconocidos por ser la guarderia favorita de Pudgy</p>
    <h3>Bienvenidos!</h3>
</body>