<nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill">
    <a class="navbar-brand" href="/guarderia">Guarderia Owa Owa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guarderia/precios">Precios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perros" >Perros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perros/nuevo-perro" >Nuevo perro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/preguntas" >Preguntas</a>
            </li>
        </ul>
    </div>
</nav>
