@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Nunito+Sans:wght@300;400&family=Barlow+Condensed:wght@400;600&family=Parisienne&display=swap';

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    border: 0 auto;
    min-height: 100%;
    width: 100%;
    position: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(43,51,73,1);;
}

header {
    font-weight: 500;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 1.2;
    padding: 7vw 2em;
    color: #333;
}

#autor {
    display: block;
    padding-top: 7px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 25%;
    height: 25%;
  }

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    text-shadow: 3px 3px 5px black;
}

h2 {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #2b3349;
    font-size: 3.5em;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0px;
}

h3 {
    margin: 0px;
    padding-top: 2em;
    color: #2b3349;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Barlow Condensed', sans-serif;
}

h4 {
    margin: 0px;
    margin-left: 3em;
    margin-right: 3em;
    color: #736fc5;
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1 em;
}

div {
    padding-left: 45px;
    padding-right: 45px;
}

strong {
    color: #333;
    font-style: italic;
}

ol, ul, li { 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    list-style-position: inside;
    padding-inline-start: 0px;
}

div.parent {
	text-align: center;
}

ul, ol {
    display: inline-block;
}

table {
    background: white;
    padding-left: 50em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #555;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background: #2b3349;
    color: white;
}

.respuesta {
    padding-left: 30px;
    padding-top: 10px;
}


.seccion {
    padding-top: 10px;
    padding-bottom: 55px;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: wheat;
}

hr {
    border: 2px solid rgb(55, 209, 189);
}

#aboutme {
    color: #333;
}

#html {
    background: #eae5df;
    padding: 0 vw;
    margin: 0px;
    border: 0px;
}

#html h4 {
    color: rgba(43,51,73,1);
}

#html h3 {
    font-size: 1.5em;
}

#css {
    background: white;
}

#css h4 {
    color: rgba(172,160,160,1);
}

#referencias {
    padding: 30px;
    background-color: #2b3349;
    color: white;
}

#referencias h3 {
    padding: 0px;
    text-align: left;
    font-size: 4em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    color: #d7b58c;
    margin: 10px;
}

#nombreMatricula {
    padding: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: #2b3349;
}